html body {
  top: 0 !important;
}
#gmocommonheader {
  display: none !important;
}
#gmoheader {
  height: 0 !important;
}
#header {
  top: 0 !important;
}

html body.guest {
  padding-top: 0 !important;
}
