html,
body,
#gmoheader,
#header,
.nav-header {
  top: 0 !important;
}

#gmocommonheader {
  display: none !important;
}

html body.guest {
  padding-top: 0 !important;
}

html body {
  top: 0 !important;
}

/* booklog.jp */
#mode-index {
  padding-top: 0 !important;
}

/* z.com */
.language {
  top: 10px !important;
}
